body {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
	min-height: 98vh;
}

.container {
    display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.box {
    background-color: rgb(236, 234, 234);
    border: 1px solid rgb(208, 207, 207);
    /* height: 16px;
	width: 16px; */
    box-sizing: border-box;
}